extends layout

block content
    .section-first
        .container
            .row
                .twelwe.columns
                    h1 Achvmn{
                    p Track your achievemen{s
                    a.button.button-primary(href='auth/facebook') facebook