extends layout

block content

    .section-first
        .container
            .row
                .one-half.column
                    h1 Achvmn{
                .one-half.column
                    h4.u-pull-right #{user.displayName}
            .row
                .twelve.columns
                    a.u-pull-right.button(href='logout') logout
    .section
        .container
            .row
                .nine.columns
                    h5 Your completed achvmn{s
                .three.columns
                    a.u-pull-right.button(href='newAchvmnt') new achvmn{
            .row
                .two.columns
                    img.u-max-full-width(src='https://placehold.it/100x100')
                .two.columns
                    img.u-max-full-width(src='https://placehold.it/100x100')